
    <div class="row featurette px-4 py-5 my-5">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">About Goof-Food</h2>
            <p class="lead">Home cooks are our heroes; it's as simple as that. Good-Food is a community built by and for kitchen experts: The cooks who will dedicate two days to a perfect beef bourguignon but love the simplicity of a slow-cooker rendition, too. The bakers who labor over a showstopping 9-layer cake but will just as happily doctor boxed brownies for a rich weeknight dessert. The entertainers who just want a solid snack spread, without spending the whole evening shuffling dishes in and out of the oven. </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/logo.jpg" alt="logo" width="500" height="250">
        </div>
    </div>